# ============================================================
# HydroUAI 2026
# Controle de disponibilização das aulas
# ============================================================

# Ignorar todas as aulas
02_Aulas/*

# Liberar apenas as aulas já disponibilizadas
!02_Aulas/Aula01/
!02_Aulas/Aula02/
!02_Aulas/Aula03/
!02_Aulas/Aula04/




# ============================================================
# Arquivos temporários
# ============================================================

# Python
__pycache__/
*.pyc

# Spyder
.spyproject/

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
Desktop.ini

# Arquivos temporários
*.tmp
~$*